.container img {
    width: 100%;
 }

.bigTitle{
    margin-top:30%;
    color:#fff;
    font-size: 40px!important;
    line-height: 50px!important;
    font-weight: bold;
}

.bigSubtitle{
    margin-bottom:40%;
    padding-top:4%;
    padding-bottom:4%;
}

.coronaCard{
    height:100%;
    background: url('../../assets/imgs/corona.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.centerPadding{
    margin-right:50px;
    margin-left:50px;
}

.backgroundRed{
    background-color:#EE1B24!important;
    color:#fff;
}

.buttonLogin{
    padding: 10px;
    width: 95%;
}

.bold{
    font-weight: bold!important;
}

.divTitle{
    line-height: 45px!important;
    font-weight: bold!important;
    color: #EE1B24;
    font-family: "Source Sans Pro",Arial,Tahoma,sans-serif;
    margin-bottom: 15px;
    display: block;
    text-align: center;
}

ion-app.md [padding] .scroll-content {
    padding: 0px;
}

.divTitleBig{
    font-size: 28px!important;
}

.divTitleSmall{
    font-size: 20px!important;
}

.divText{
    font-size: 20px!important;
    line-height: 25px!important;
    margin: 0 0 15px;
}

.divTextRed{
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0px;
    color: #EE1B24;
    margin-bottom: 20px;
}

.divTextBlack{
    font-size: 17px;
    font-weight: 500;
    line-height: 23px;
    text-align: left;
    letter-spacing: 0px;
    color: #232323;
    margin-bottom: 20px;
}

.preventCards{
    margin:0px;
    width:100%;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.darkCard{
    background-color: #f3f3f3;
}

.lightCard{
    background-color: #ffffff;
}

.listImg {
    width: 25%;
}

.ion-card-prev{
 max-height: 20%; 
}

.img-prev {
    width: 212px;
    height: auto;
    margin-bottom: 25px;
}

.ion-card-prev-title{
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000;
}

.card-background-page { 
    ion-card { 
        position: relative; 
        text-align: center; 
    } 
    .card-title { 
        position: absolute;
         top: 36%;
         font-size:
         2.0em; 
         width: 100%; 
         font-weight: bold; 
         color: #fff; 
        } .card-subtitle { 
            font-size: 1.0em; 
            position: absolute; 
            top: 52%; 
            width: 100%; 
            color: #fff; 
        } 
    }

    