

.buttonLog{
  background-color: #ee1b24;
  color:#f3f3f3;
  font-weight: bold;
  border-radius: 30px;
  width:100%;
  margin-top:5%;
}

.formLogin{
  margin-top:8%;
  margin-right: 6%;
  margin-left: 6%;
}

ion-icon{
  color:#ee1b24;
}

body{
  border-style: none;
}

ion-input {
  background-color:#f3f3f3;
  border-radius: 30px;
  margin-top:3%;
  padding-left: 5%;
  border-style: none;
}

.buttonLogin{
  padding: 10px;
  width: 95%;
}

.backgroundRed{
  background-color:#ee1b24!important;
}

item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom: hidden;
  -webkit-box-shadow: inset 0 0px 0 0 #32db64;
  box-shadow: inset 0 0px 0 0 #32db64;
}