.buttonLog{
  background-color: #ee1b24;
  color:#f3f3f3;
  font-weight: bold;
  border-radius: 30px;
  max-width:100%;
  min-width:90%;
  margin-top:8%;
  margin-left:20px;
}

.buttonLog2{
  margin-bottom:8%;
}

.labelTitleForms{
  font-size: 18px;
  line-height: 35px!important;
  font-weight: bold!important;
  color: #EE1B24;
  font-family: "Source Sans Pro",Arial,Tahoma,sans-serif;
  margin-bottom: 1%;
  display: block;
  margin-left: 6%;
  margin-top: 6%;
}

.labelSmallTitleForms{
  font-size: 14px;
  font-weight: bold!important;
  color: #2f2f2f;
  font-family: "Source Sans Pro",Arial,Tahoma,sans-serif;
  margin-bottom: 1%;
  display: block;
  margin-top: 4%;
  margin-left: 6%;
  margin-bottom: 4%;
}

.formLogin{
  margin-top:8%;
  margin-right: 6%;
  margin-left: 6%;
}

ion-select, ion-datetime {
  min-width:92%;
}

.item-md{
  padding-left: 16px;
  padding-right:16px;
}

ion-label{
  min-width:19.2px;
}

ion-input, ion-datetime, ion-select{
  background-color:#f3f3f3;
  border-radius: 30px;
  margin-top:3%;
  padding-left: 5%;
}

.buttonLogin{
  padding: 10px;
  width: 90%;
}

.backgroundRed{
  background-color:#ee1b24!important;
}

.sintomaTexto{
  text-align:center;
  color:#ee1b24!important;
  font-weight: bold;
  font-size: 11px;
}

.select-icon{
  margin-right: 5%;
  position: relative;
}

ion-icon,
.select-md .select-icon .select-icon-inner{
  color:#ee1b24;
}

item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom: hidden;
  -webkit-box-shadow: inset 0 0px 0 0 #32db64;
  box-shadow: inset 0 0px 0 0 #32db64;
}

.alert-md [aria-checked=true] .alert-radio-inner {
  border-color: #787878;
  background-color:#ee1b24;
}

.alert-md [aria-checked=true] .alert-checkbox-inner {
  border-style: solid;
  border-color:#ee1b24;
}

.item.item-md .checkbox-md{
  margin:0;
}

.checkbox-md .checkbox-icon{
  background-color: #fff;
  border-color: #fff;
}

.checkbox-md .checkbox-checked .checkbox-inner {
  border-style: solid;
  border-color:#ee1b24;
}


.radio-md .radio-checked {
  border-style:solid;
  border-color: #ee1b24;
}

.item-radio-checked.item-md ion-label {
  color: #ee1b24;
  font-weight: bold;
}

.radio-md .radio-checked .radio-inner {
  background-color:#ee1b24;
}

.alert-md .alert-button,
.alert-md [aria-checked=true] .alert-radio-label,
.picker-md .picker-prefix,
.picker-md .picker-button,
.picker-md .picker-suffix,
.picker-md .picker-opt.picker-opt-selected,
.alert-md [aria-checked=true] .alert-checkbox-label{
  color: #ee1b24;
  font-weight: bold;
}