<ion-header>
  <ion-navbar>
    <ion-title style="text-align: center;">
      Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card (click)="exibirTipoLogin(1)" [ngClass]="checkBoxLoginInterne?'imgColorful':'imgBlackWhite'" class="buttonLogin backgroundRed roundedCard">
          <img src="./assets/imgs/interne.png" />
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card (click)="doGoogleLogin()" [ngClass]="checkBoxLoginGoogle?'imgColorful':'imgBlackWhite'" class="buttonLogin roundedCard">
          <img src="./assets/imgs/google.png" />
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form *ngIf="exibirLoginAd" class="formLogin" [formGroup]="form">
    
    <ion-item>
      <ion-label>
        <ion-icon name="person"></ion-icon>
      </ion-label>
      <ion-input formControlName="matricula" name="matricula" type="text" placeholder="Matricula">
      </ion-input>
    </ion-item>

    <div *ngIf="f.matricula.invalid && (f.matricula.dirty || f.matricula.touched)" class="alert alert-danger">
      <p *ngIf="f.matricula.errors.required" class="validationField">
        Este campo é obrigatório.
      </p>
    </div>

    <ion-item>
      <ion-label>
        <ion-icon name="lock"></ion-icon>
      </ion-label>
      <ion-input formControlName="password" name="password" type="password" placeholder="password"></ion-input>
    </ion-item>

    <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)" class="alert alert-danger">
      <p *ngIf="f.password.errors.required" class="validationField">
        Este campo é obrigatório.
      </p>
    </div>

    <button class="buttonLog" ion-button (click)="login()" expand="full"  [disabled]="form.invalid" >
      Login
    </button>

  </form>

  <div class="ion-padding">

  </div>

</ion-content>

