<ion-header>
  <ion-navbar>
    <ion-title style="text-align: center;">
      Notificação
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-label class="labelTitleForms">
    TIPO DO PACIENTE
  </ion-label>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card (click)="setCamposPaciente(1)" class="buttonLogin backgroundRed roundedCard">
          <img src="./assets/imgs/interne.png" />
        </ion-card>
        <ion-label class="labelSmallTitleForms textCenter">
          COLABORADOR
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-card (click)="setCamposPaciente(2)" class="buttonLogin backgroundRed roundedCard">
          <img src="./assets/imgs/interne.png" />
        </ion-card>
        <ion-label class="labelSmallTitleForms textCenter">
          PACIENTE COMUM
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <form [formGroup]="formDenuncia">
		 <div *ngIf="exibirDivPaciente">
      <ion-label class="labelTitleForms">
        INFORMAÇÕES PESSOAIS
      </ion-label>

      <ion-item>
        <ion-label>
          <ion-icon name="contact"></ion-icon>
        </ion-label>
        <ion-input type="text" maxlength="250" formControlName="nome" placeholder="Qual o seu nome?">
        </ion-input>
      </ion-item>

      <div *ngIf="f.nome.invalid && (f.nome.dirty || f.nome.touched)" class="alert alert-danger">
        <p *ngIf="f.nome.errors.required" class="validationField">
          Este campo é obrigatório.
        </p>
        <p *ngIf="f.nome.errors.minlength" class="validationField">
          Este campo deve ter no mínimo 3 caracteres.
        </p>
        <p *ngIf="f.nome.errors.maxlength" class="validationField">
          Este campo deve ter no máximo 250 caracteres.
        </p>
      </div>

      <ion-item>
        <ion-label>
          <ion-icon name="contacts"></ion-icon>
        </ion-label>
        <ion-select okText="OK" cancelText="Cancelar" interface="popover" formControlName="sexo"
          placeholder="Qual o seu sexo?">
          <ion-option value="M">Masculino</ion-option>
          <ion-option value="F">Feminino</ion-option>
        </ion-select>
      </ion-item>
      <div *ngIf="f.sexo.invalid && (f.sexo.dirty || f.sexo.touched)" class="alert alert-danger">
        <p *ngIf="f.sexo.errors.required" class="validationField">
          Este campo é obrigatório.
        </p>

      </div>


      <ion-item>
        <ion-label>
          <ion-icon name="calendar"></ion-icon>
        </ion-label>
        <ion-datetime doneText="OK" cancelText="Cancelar" interface="popover" formControlName="dat_nascimento"
          placeholder="Quando você nasceu?">
        </ion-datetime>
      </ion-item>

      <div *ngIf="f.dat_nascimento.invalid && (f.dat_nascimento.dirty || f.dat_nascimento.touched)"
        class="alert alert-danger">
        <p *ngIf="f.dat_nascimento.errors.required" class="validationField">
          Este campo é obrigatório.
        </p>
      </div>

      <ion-item>
        <ion-label>
          <ion-icon name="contact"></ion-icon>
        </ion-label>
        <ion-input type="number" maxlength="3" formControlName="idade" placeholder="Quantos anos você tem?">
        </ion-input>
      </ion-item>

      <div *ngIf="f.idade.invalid && (f.idade.dirty || f.idade.touched)" class="alert alert-danger">
        <p *ngIf="f.idade.errors.required" class="validationField">
          Este campo é obrigatório.
        </p>
      </div>

      <ion-item>
        <ion-label>
          <ion-icon name="call"></ion-icon>
        </ion-label>
        <ion-input type="text" formControlName="telefone" mask="(00) 00000-0009" maxLength="15"
          placeholder="Qual seu telefone para contato?">
        </ion-input>
      </ion-item>

      <div *ngIf="f.telefone.invalid && (f.telefone.dirty || f.telefone.touched)" class="alert alert-danger">
        <p *ngIf="f.telefone.errors.required" class="validationField">
          Este campo é obrigatório.
        </p>
        <p *ngIf="f.telefone.errors.minlength" class="validationField">
          Este campo deve ter no mínimo 11 caracteres.
        </p>
      </div>

      <ion-item>
        <ion-label>
          <ion-icon name="copy"></ion-icon>
        </ion-label>
        <ion-input type="text" maxlength="250" formControlName="convenio" placeholder="Qual o seu Convênio?">
        </ion-input>
      </ion-item>

      <div *ngIf="f.convenio.invalid && (f.convenio.dirty || f.convenio.touched)" class="alert alert-danger">
        <p *ngIf="f.convenio.errors.required" class="validationField">
          Este campo é obrigatório.
        </p>
        <p *ngIf="f.convenio.errors.maxlength" class="validationField">
          Este campo deve ter no mínimo 250 caracteres.
        </p>
      </div>

      <ion-item>
        <ion-label>
          <ion-icon name="clipboard"></ion-icon>
        </ion-label>
        <ion-select okText="OK" cancelText="Cancelar" interface="popover" formControlName="idprofissao"
          placeholder="Qual sua Profissão?">
          <ion-option value='1'>Administrativo</ion-option>
          <ion-option value='2'>Enfermeiro</ion-option>
          <ion-option value='3'>Familiar</ion-option>
          <ion-option value='4'>Fisioterapeuta</ion-option>
          <ion-option value='5'>Fonoterapeuta</ion-option>
          <ion-option value='6'>Médico</ion-option>
          <ion-option value='7'>Nutricionista</ion-option>
          <ion-option value='8'>T.O.</ion-option>
          <ion-option value='9'>Outros</ion-option>
          <ion-option value='10'>Téc. em Enfermagem</ion-option>
          <ion-option value='11'>Cuidador</ion-option>
          <ion-option value='12'>Paciente</ion-option>
        </ion-select>
      </ion-item>

      <div *ngIf="f.idprofissao.invalid && (f.idprofissao.dirty || f.idprofissao.touched)" class="alert alert-danger">
        <p *ngIf="f.idprofissao.errors.required" class="validationField">
          Este campo é obrigatório.
        </p>
      </div>


      <ion-label class="labelTitleForms">
        SINTOMAS
      </ion-label>

      <ion-label class="labelSmallTitleForms">
        O QUE ESTÁ SENTINDO?
      </ion-label>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>
                <img src="./assets/imgs/febre.png" />
                <ion-label class="sintomaTexto">Febre</ion-label>
              </ion-label>
              <ion-checkbox formControlName="ind_febre"></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>
                <img src="./assets/imgs/tosse-seca.png" />
                <ion-label class="sintomaTexto">Tosse</ion-label>
              </ion-label>
              <ion-checkbox type="ion-checkbox" formControlName="ind_tosse"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>
                <img src="./assets/imgs/congestao-nasal.png" />
                <ion-label class="sintomaTexto">Congestão Nasal</ion-label>
              </ion-label>
              <ion-checkbox formControlName="ind_congestao_nasal"></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>
                <img src="./assets/imgs/dores-no-corpo.png" />
                <ion-label class="sintomaTexto">Dor na Garganta</ion-label>
              </ion-label>
              <ion-checkbox formControlName="ind_dor_garganta"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>
                <img src="./assets/imgs/cansaco.png" />
                <ion-label class="sintomaTexto">Falta de Ar</ion-label>
              </ion-label>
              <ion-checkbox (ionChange)="exibirDivAr($event)" formControlName="ind_falta_ar"></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div *ngIf="exibirDiv">

        <ion-label class="labelSmallTitleForms">
          VOCÊ SENTE FALTA DE AR QUANDO ...
        </ion-label>

        <ion-item>
          <ion-label>está caminhando</ion-label>
          <ion-checkbox formControlName="ind_falta_ar_caminhada"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>está repousando/descansando</ion-label>
          <ion-checkbox formControlName="ind_falta_ar_repouso"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>escova os dentes</ion-label>
          <ion-checkbox formControlName="ind_escovar_dentes"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>penteia os cabelos</ion-label>
          <ion-checkbox formControlName="ind_pentear_cabelos"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>toma banho sozinho</ion-label>
          <ion-checkbox formControlName="ind_tomar_banho_sozinho"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>realiza outras atividades diárias</ion-label>
          <ion-checkbox formControlName="ind_outros"></ion-checkbox>
        </ion-item>

      </div>

      <ion-item>
        <ion-label>
          <ion-icon name="calendar"></ion-icon>
        </ion-label>
        <ion-datetime doneText="OK" cancelText="Cancelar" interface="popover" formControlName="dt_ini_sintomas"
          placeholder="Quando começaram os Sintomas?">
        </ion-datetime>
      </ion-item>

      <div *ngIf="f.dt_ini_sintomas.invalid && (f.dt_ini_sintomas.dirty || f.dt_ini_sintomas.touched)"
        class="alert alert-danger">
        <p *ngIf="f.dt_ini_sintomas.errors.required" class="validationField">
          Este campo é obrigatório.
        </p>
      </div>

      <button type="submit" (click)="submited()" [disabled]="formDenuncia.invalid" class="buttonLog buttonLog2"
        ion-button>
        Salvar
      </button>
		</div>
    </form>
  </ion-list>

</ion-content>