page-home {

}

.videoCenter{
    width:100%;
    position: "relative";
}

ion-card {
    width: 70%;
}

.tabbar a{
    background-color: #ed1c21;
}

ion-tab{
    background-color: #ed1c21;
}
  
div .scroll-content{
    background-color: #f3f3f3;
}

*{
    font-family: "Source Sans Pro",Arial,Tahoma,sans-serif;
}